<header class="header">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top nav-down dl-navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ site.root_url }}">
        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>
        <span>
          {{ site.brand }} <a href="{{ site.root_url }}/blog/">+BLOG</a>
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mb-2 mr-4">
            <button class="nav-link dropdown-toggle btn btn-sm btn-outline-info px-2" id="pagelist-dropdown" data-toggle="dropdown">
              {{ site.text.page | upcase }}/{{ site.brand | upcase }}
            </button>

            <div class="dropdown-menu" aria-labelledby="pagelist-dropdown">
              {% for book_cnt in (1..site.db.book_page_cnt) %}
                <a class="dropdown-item" href="{{ site.root_url }}/{{ site.text.subsite_url_text }}{{ book_cnt | prepend: '000' | slice: -3, 3 }}">
                  {{ site.text.subsite_text | capitalize }}{{ book_cnt | prepend: '000' | slice: -3, 3 }}
                </a>
              {% endfor %}
            </div>
          </li>
        </ul>

        {% include search-box.html %}
      </div>
    </div>
  </nav>
</header>